/* Footer.css */

/* Estilos para el footer */
.footer {
  background-color: rgba(15, 15, 15, 1); /* Negro con 80% de opacidad */
  color: white; /* Texto blanco */
  text-align: center; /* Centra el texto */
  padding-top: 26px;
  padding-bottom: 16px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 50px; /* Espacio superior */
}


/* Estilo para el texto del footer */
.footer-text p {
  margin: 0;
  font-size: 16px;
}

/* Estilos para los iconos de las redes sociales */
.social-icons {
  margin-top: 10px;
}

.social-icon {
  margin: 0 10px;
  font-size: 34px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #ffcc00; /* Cambia el color de los iconos al pasar el ratón */
}

/* Responsividad */
@media (max-width: 768px) {
  .social-icon {
    font-size: 20px;
    margin: 0 8px;
  }
}
