/* Importamos la fuente "Poppins" desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

html, body {
  min-height: 100%; /* Usa min-height en lugar de height */
  height: auto; /* Permite que crezca según el contenido */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita el desplazamiento horizontal innecesario */
}

  


body {
  font-family: 'Poppins', sans-serif; /* Fuente "Poppins" */
  line-height: 1.6;
  background-color: #f4f4f4; /* Fondo claro */
}

