html, body { 
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.03)), /* Degradado muy suave con opacidad mínima */
    url('../assets/buena.png'); /* Ruta de tu imagen */
  background-size: cover; /* Cubre toda la pantalla sin distorsionar la imagen */
  background-position: center; /* Centra la imagen en el eje X */
  background-attachment: fixed; /* Mantiene la imagen fija mientras se hace scroll */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  color: white; /* Color de texto por defecto */
}

body {
  font-family: 'Poppins', sans-serif; /* Fuente "Poppins" */
  line-height: 1.6;
  background-color: #f4f4f4; /* Fondo claro */
}

/* Ajuste de imagen de fondo para móviles */
@media (max-width: 767px) {
  html, body {
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center center; /* Centra la imagen en el eje X y Y */
  }
}
