.intro-section {
  position: relative;  /* Necesario para el posicionamiento absoluto del contenido centrado */
  width: 100%;         /* Asegura que ocupe todo el ancho de la pantalla */
  height: 70vh;       /* Ocupa toda la altura de la ventana */
  overflow: hidden; 
  padding-top: 200px;
}

.background-video {
  position: absolute;    /* Coloca el video de forma absoluta dentro de .intro-section */
  top: 0;                /* Coloca el video en la parte superior */
  left: 0;               /* Coloca el video en la parte izquierda */
  width: 100%;           /* Hace que el video ocupe todo el ancho disponible */
  height: 100%;          /* Hace que el video ocupe toda la altura disponible */
  object-fit: cover;     /* Hace que el video cubra completamente el contenedor sin distorsionarse */
  z-index: 0;           
}

/* Contenedor del contenido centrado */
.content-container {
  position: absolute;        /* Coloca el contenido de forma absoluta dentro de .intro-section */
  top: 50%;                   /* Coloca el contenido en el centro vertical de la sección */
  left: 50%;                  /* Coloca el contenido en el centro horizontal de la sección */
  transform: translate(-50%, -50%); /* Ajusta para centrarlo perfectamente */
  text-align: center;         /* Centra el texto dentro del contenedor */
  color: #ffffff;             /* Asegura que el texto sea blanco y visible sobre el video */
  z-index: 1;                 /* Asegura que el contenido esté encima del video */
}

/* Estilo para el título */
.title {
  font-size: 4rem;            /* Tamaño grande para que el título se vea bien */
  font-weight: bold;          /* Fuente en negrita para mayor énfasis */
  margin-bottom: 1rem;        /* Espacio debajo del título */
  text-transform: uppercase;  /* Convertir el texto a mayúsculas */
  letter-spacing: 2px;        /* Espaciado de letras para hacerlo más elegante */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra sutil para mejorar la visibilidad sobre el fondo */
}

/* Estilo para el subtítulo */
.subtitle {
  font-size: 1.5rem;          /* Tamaño de fuente moderado para el subtítulo */
  font-weight: lighter;       /* Fuente más ligera para el subtítulo */
  margin-top: 0.5rem;         /* Espacio encima del subtítulo */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Sombra ligera para el subtítulo */
}

